<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Admin test suite" verbose="1" >

<!-- <listeners>
       <listener class-name="com.gmc.base.TestListener"/>
  </listeners>
 -->
	<!-- <test name="firefox Tests">
	<parameter name="browserType" value="firefox" />
		<parameter name="appURL" value="http://dev.isbsindia.in/mmenroll/" />
		<classes>
			<class name="com.gmc.tests.admin.AdminLoginTest" />
		</classes>
	</test>
 -->
<test name="Chrome Tests">
<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://beta.insureeasy.in" />
		<classes>
			<class name="com.ieasy.tests.PrivateCarTest" />
		</classes>
	</test>

</suite>